<%= simple_form_for :contact_form, url: messages_path, method: :post do |f|  %>
  <%= f.error_notification  %>
  <div class="form-inputs"></div>
  <%= f.input :name  %>
  <%= f.input :email, label: 'Email address'  %>
  <%= f.input :message_title, label: 'Title'  %>
  <%= f.input :message_body, label: 'Your message', as: :text  %>
  <div class="form-actions"></div>
  <%= f.submit 'Submit'  %>
<% end %>
