<ul id="header">
  <li style="display: inline-block;" class="logo-right"><a href="/" style="text-decoration:none;">FULL FISH HOUSE</a></li>

  <div id="deskmenu">


    <li><%= link_to "Продукция", categories_path, class: 'nav' %></li>
    <li><%= link_to "О Нас", about_path, class: 'nav' %></li>
    <li><%= link_to "Контакты", contact_path, class: 'nav' %></li>
    </div>
 <li>
   <li id="menu" class="openbtn">Меню</li>
   

   
</ul>
   <div id="myNav" class="overlay">
  
  
  <div class="overlay-content">
  
    
    <li><%= link_to "О Нас", about_path, class: 'nav' %></li>
    <li><%= link_to "Контакты", contact_path, class: 'nav' %></li>
    
  </div>

  
</div>

<script>
//OVERLAY MENU/CLOSE


$("#menu").click(function() { 
$('#myNav').toggle(1, function() {
    if($(this).is(':visible')) { 
        $("html").addClass("modal-open");
        $("#menu").text("Закрыть");
        
    }
    else {
        
        $("#menu").text("Меню");
        $("html").removeClass("modal-open");
    }
}); 
});
// underline current nav menu
$("#header li a").click(function() {

  $("#header li").removeClass("active");                                     
  $(this).parent().addClass("active");
});
</script>