<% provide(:title, "HoReCa | Харьков") %>
<div class="horeca-body">


<h1>HoReCa</h1>
    <ol>
<li>Менеджер поможет подобрать вам наиболее подходящую продукцию для Вашего заведения или мероприятия - вне зависимости от масштаба. </li>

<li>Контролируем качество на всех этапах производства продуктов питания, их хранения и доставки.</li>

<li>Есть ветеринарные свидетельства, сертификаты качества и соответствия продуктов.</li>

<li>Оплата удобным для вас способом: карта или безналичный расчет.</li>

<li>Предоставляем полный пакет сопроводительной документации.</li>

<li>Рыба и морепродукты могут быть очищены, нарезаны и приготовлены.</li>


<li>Наш персональный менеджер сформирует перечень необходимых продуктов, а наша служба доставит свежее прямо к двери Вашего заведения. С нами Вы сможете экономить время на организации закупок до Вашего заведения и сфокусироваться на том, что действительно важно - на развитии Вашего бизнеса и Ваших гостях!
</li>
</ol>
    </div>

<div class="headline">
 <h2>Желаете стать клиентом доставки?</h2>
</div>
<div class="cont">
<div class="contact-form-wrapper">
  <div class="hrc" >
  	<div class="skinny_wrapper wrapper_padding" id="form-div" style="position:relative;">
	<%= form_for @contact do |f| %>

	<%= f.text_field :name, required: true, placeholder:  'Ваше имя' %>
	<%= f.email_field :email, required: true, placeholder: 'Ваш e-mail' %>
	<%= f.text_area :message, as: :text, placeholder: 'Опишите заявку. Укажите название вашего заведения или мероприятия.'%>

		<div class="hidden">
			<%= f.label :nickname %><br>
			<%= f.text_field :nickname, hint: 'leave this field blank' %>
		</div>
	<%= f.submit 'Отправить заявку', class: "button" %>

	<% end %>
</div></div >
</div>
<h5>Или

<div id="contactus">Свяжитесь с нами по электронной почте:
 <a style="color:#4c4cff;" href="mailto:ffh.com.ua@gmail.com">ffh.com.ua@gmail.com</a><br></div>
 <br>
<%= link_to "Позвоните нам", contact_path %>
</div>
 <!-- 
  <li id="contactus">Свяжитесь с нами по электронной почте:<br>
  <li><a style="color:aqua!important;" href="mailto:ffh.com.ua@gmail.com">ffh.com.ua@gmail.com</a><br>
</li>









  

  <div id="form-div" style="position:relative;">
    <form class="form" id="form1">
      
      <p class="name">
        <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Ваше имя" id="name" />
      </p>
      
      <p class="email">
        <input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Контактный email/номер телефона" />
      </p>
      
      <p class="text">
        <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Название заведения/комментарий"></textarea>
      </p>
      
      
      <div class="submit">
        <input type="submit" value="Стать клиентом" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </form>
  </div>
background-image: url('https://99px.ru/sstorage/53/2013/02/tmb_61080_9291.jpg');
                    <span>или</span>-->


<style>

.contact-form-list {
  display: inline;
  
  
}
.cont {
	display: inline-grid;
}
.hrc {
  background-color: #fff;
  border-radius: 3px;
  /*padding: 20px;*/
  font-size: 14px;
}

.info {
  text-align: center;
  font-size: 13px;
  padding-top: 20px;
  color: #fff;
}
	#contactus {
		margin-top: 40px;
	}

	#contact_name, #contact_email, input.button {
		max-width: 250px;
		margin: 10px  11px  10px 10px ;
		float:left;
	}
	#contact_message {
		margin-left: 10px;
		float:left;
	}
	input.button {
		background-color: white;
		padding:5px;
		float:left;
	}
	.contact-form-social {
		border-style: solid;
		border-color: red;

	}
	</style>