<div class="horeca-body">

    <ol>
<li>Менеджер поможет подобрать вам наиболее подходящую продукцию для Вашего заведения или мероприятия - вне зависимости от масштаба. </li>

<li>Контролируем качество на всех этапах производства продуктов питания, их хранения и доставки.</li>

<li>Есть ветеринарные свидетельства, сертификаты качества и соответствия продуктов.</li>

<li>Оплата удобным для вас способом: карта или безналичный расчет.</li>

<li>Предоставляем полный пакет сопроводительной документации.</li>

<li>Рыба и морепродукты могут быть очищены, нарезаны и приготовлены.</li>


<li>Наш персональный менеджер сформирует перечень необходимых продуктов, а наша служба доставит свежее прямо к двери Вашего заведения. С нами Вы сможете экономить время на организации закупок до Вашего заведения и сфокусироваться на том, что действительно важно - на развитии Вашего бизнеса и Ваших гостях!
</li>
</ol>
    </div>
<h2>Свяжитесь с нами:</h2>

<div class="skinny_wrapper wrapper_padding">
	<%= form_for @contact do |f| %>
	<%= f.label :name %><br>
	<%= f.text_field :name, required: true %>

	<br>

	<%= f.label :email %><br>
	<%= f.email_field :email, required: true %>
	<br>
	<%= f.label :message %>
	<%= f.text_area :message, as: :text %>

	<div class="hidden">

	<%= f.label :nickname %><br>
	<%= f.text_field :nickname, hint: 'leave this field blank' %>
	</div>
	
	<%= f.submit 'Send Message', class: "button" %>
	<% end %>
</div>