<p id="notice"><%= notice %></p>
<!-- Breadcrumbs -->
<ul class="breadcrumb">
  <li><%= link_to 'Назад к категориям', categories_path %></li>
  <li><a href="#"><%= @category.name %></a></li>
  
</ul>
<!-- Breadcrumbs end -->
 
<h1> Продукция категории </h1>


<!-- <input type="text" id="myInput" onkeyup="myFunction()" style="max-width: 33%;margin-left:15%" placeholder="Поиск продукции..."> -->

   
<div class="grid">
  <% Product.where(category_id: @category.id).each do |product| %>

    <div class="img-item" style="position: relative;">

      <%= link_to (image_tag(product.image, class: 'img-responsive', style: "height:100%;")), product,  class: 'gallery' %> 

     <%= link_to(product, class: 'project-link') do %> 
        <div class="onhover">
            
             <p class="brand"><%= product.name.upcase %></p>
               
        </div>

    <% end %> 
</div>
   
 
  <% end %> 

</div>


   
<div>
  <ul class="breadcrumb">
   <li><%= link_to 'Назад', categories_path %></li>
   </ul>
 </div>