<p id="notice"><%= notice %></p>
<!-- Breadcrumbs -->
<ul class="breadcrumb">
  <li><%= link_to 'Назад к категориям', categories_path %></li>
  <li><a href="#"><%= @category.name %></a></li>
  
</ul>
<!-- Breadcrumbs end -->
 
<h3> Продукция категории </h3>


<!-- <input type="text" id="myInput" onkeyup="myFunction()" style="max-width: 33%;margin-left:15%" placeholder="Поиск продукции..."> -->
<section>

      <div class="container">
 <div class="row">  
<% Product.where(category_id: @category.id).each do |product| %>
         
           <div class="col-md-6 col-lg-4" style="height: 250px;
    /*width: 400px;*/
    overflow: hidden;">
            
        
            
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                 <h5><%= link_to product.name, product %></h5>
                </div>
              </div>
              <%= image_tag product.image, class: 'img-responsive', style: "
    width: 100%;" %>
         
          </div>
          
          
            <% end %> 
      </div>
          
</section>

   


   
<div style="margin-left:5%!important;"><%= link_to 'Назад', categories_path, style: "text-decoration:underline;" %></div>