<div>
	<ul class="breadcrumb">
  <li><a href="/"><%= link_to "Категории", categories_path   %></a></li>
  <li><a href="#"><%= link_to  @product.category.name, category_path(@product.category_id) %></a></li>
  <li><%=  link_to @product.name, product_path %></li>
</ul>
	<p id="notice"><%= notice %></p>

 <div class="row" style="margin-right:3%!important;">
<p>
  <h3><%= @product.name %></h3>
  
</p>
<div class="col-md-8" style="margin-left:10%!important; margin-right:5%!important;max-width:555px;">
            <%= image_tag @product.image, class: 'img-responsive', style: 'display:block; width: 75%; height:auto;' %>
        </div>
<p>
  <strong>Описание:</strong>
  <%= @product.body %>
</p>
<p>
  <strong>Где купить:</strong>
  <%= @product.shops %>
</p>
<hr>
<p><%= link_to 'Назад', category_path(@product.category_id) %> </p>
</div>
</div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    <div class="row" style="margin-left:5%;">

        <div class="col-lg-12">
            <h3 class="page-header">Также в ассортименте:</h3>
        </div>

        <% @products.each do |product| %>
            
            <div class="col-sm-3 col-xs-6">
                <%= link_to product_path(product) do %> 
                  <%= image_tag product.image, class: 'img-responsive portfolio-item', style: 'display:block; height: 200px; max-width: 150px;' %>
                  <%= product.name %>
                <% end %>
            </div>
        <% end %>

    </div>
    <!-- /.row -->
