<div class="product-show">
<ul class="breadcrumb">
  <li><a href="/"><%= link_to "Категории", categories_path   %></a></li>
  <li><a href="#"><%= link_to  @product.category.name, category_path(@product.category_id) %></a></li>
  <li><%=  link_to @product.name, product_path %></li> 
</ul>
	<p id="notice"><%= notice %></p>





 <header><h2><%= @product.name %></h2></header>


  <div class="product-image" style="margin-left:10%!important; margin-right:5%!important;max-width:555px;">
            <%= image_tag @product.image, class: 'img-responsive', style: 'display:block; width: 75%; height:auto;' %>
        </div>

  <div class="product-info"><p>
  <strong>Описание:</strong>
  <%= @product.body %>
</p>
<p>
  <strong>Цена:</strong>
  <%= @product.price %>
</p>
<p>
  <strong>Где купить:</strong>
  <%= @product.shops %>
</p>
 <p> <button type="button" class="btn btn-info">Добавить в корзину</button></p>

</div>


</div>


<div style="width:100%;height:50px;    float: left;border-top: 1px solid #eaeaea;"><h4 class="page-header">Также в ассортименте:</h4>
</div>





<!-- Related Projects Row -->
    <div class="flex-container wrap">

      

        <% @products.each do |product| %>
            
            <div class="flex-item">
                <%= link_to product_path(product) do %> 
                  <%= image_tag product.image, class: 'img-responsive portfolio-item', style: 'display:block; max-height: 200px;' %>
                  <%= product.name %>
                <% end %>
            </div>
        <% end %>

    </div>